/*

    Copyright (C) 2024 ysfchn

    This file is part of Zepplin.

    Zepplin is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Zepplin is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

*/

/*
    Zepp's own settings page uses MaterialUI v4 (https://v4.mui.com/) for styling the 
    elements whereas Zepplin uses Picnic.css (https://picnicss.com/).
    
    Even if the difference is just the appearance of the elements, it might still 
    cause incompatibilities if some mini-apps use a lot of custom CSS, making the
    settings page having functional issues (e.g. elements are being set to back or 
    front with z-index or etc.) So this CSS file serves as a purpose to fix the
    functionality.

    See "zepplin_web" project for more details about the purpose of this file.
*/


/*
    Some CSS normalizations.
*/
html {
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

/*
    Make button still clickable if ::before or ::after used to create pseudo
    elements that overlaps the button.
*/
button { 
    z-index: 1;
}

#app {
    height: 100%;
}

/*
    Show a spinner before waiting for emulator to load.
*/
#app > .spinner > .icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background: #000;
    -webkit-mask: conic-gradient(#0000 0%, #000), linear-gradient(#000 0 0) content-box;
    mask: conic-gradient(#0000 0%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spin 1.5s infinite linear;
}

#app > .spinner {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#app > .spinner > .icon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

#app > .spinner > p#spinner-title {
    font-family: inherit;
    font-size: large;
    margin: 0;
    margin-top: 30px;
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}